.header nav a {
    text-decoration: none;
    margin-right: 15px;
    font-weight: bold;
    color: gray;
}

.header nav a:hover {
    color: goldenrod;
}

.header nav span{
    margin-right: 10px;
    font-weight: bolder;
    color: goldenrod;
}